.design {
	padding: 42px 0 11px;
	flex-direction: column;

	@media screen and (min-width: 992px) {
		flex-direction: row;
		justify-content: space-between;
		padding: 100px 0;
	}

	@media screen and (min-width: 1200px) {
		flex-direction: row;
		justify-content: space-around;
	}

	&__item {
		display: inline-block;
		text-align: center;
		padding-bottom: 20px;

		@media screen and (min-width: 992px) {
			width: 19%
		}

		@media screen and (min-width: 1200px) {
			width: 17%;
		}
	}

	&__iconWrapper {
		display: inline-block;
		width: 151px;
		height: 151px;
		border: 1px solid #c4c7ca;
		border-radius: 50%;
		text-align: center;
		line-height: 145px;
	}

	&__subtitle {
		color: #3b434c;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		padding-top: 30px;
	}

	&__text {
		color: #3b434c;
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
	}
}