@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap&subset=cyrillic");
body {
  font-family: "Open Sans"; }

a {
  text-decoration: none !important; }

.banner {
  background-image: url(../img/Photo_Background.jpg);
  background-size: cover; }
  .banner button {
    border: none;
    outline: none;
    color: #fff !important; }
  .banner .nav-link {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #fff !important; }
    .banner .nav-link:hover {
      color: #f7600e !important;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  .banner__icon {
    color: #fff !important; }
  .banner__logo {
    color: #fff !important; }
  .banner__color {
    color: #d45a18; }
  .banner__circleWrapper {
    padding-bottom: 51px; }
  .banner__title {
    color: #fff;
    font-size: 33px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 70px; }
    @media screen and (min-width: 1200px) {
      .banner__title {
        font-size: 70px;
        padding-top: 200px; } }
  .banner__text {
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    padding-top: 37px;
    color: #fff; }
  .banner__linkWrapper {
    padding: 36px 0 89px; }
    @media screen and (min-width: 576px) {
      .banner__linkWrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 30px; } }
    @media screen and (min-width: 768px) {
      .banner__linkWrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0px; } }
    @media screen and (min-width: 992px) {
      .banner__linkWrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 36px 0;
        margin-bottom: 0px; } }
  .banner__link {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 50px;
    padding: 0 75px;
    margin-top: 20px;
    height: 50px;
    color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .banner__link:hover {
      background: #f7600e;
      color: #fff; }
    @media screen and (min-width: 992px) {
      .banner__link {
        margin-bottom: 181px; } }

.design {
  padding: 42px 0 11px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (min-width: 992px) {
    .design {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 100px 0; } }
  @media screen and (min-width: 1200px) {
    .design {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }
  .design__item {
    display: inline-block;
    text-align: center;
    padding-bottom: 20px; }
    @media screen and (min-width: 992px) {
      .design__item {
        width: 19%; } }
    @media screen and (min-width: 1200px) {
      .design__item {
        width: 17%; } }
  .design__iconWrapper {
    display: inline-block;
    width: 151px;
    height: 151px;
    border: 1px solid #c4c7ca;
    border-radius: 50%;
    text-align: center;
    line-height: 145px; }
  .design__subtitle {
    color: #3b434c;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 30px; }
  .design__text {
    color: #3b434c;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; }

.section-form {
  background-image: url(../img/Photo_Background.png); }

form {
  padding: 42px 0; }
  @media screen and (min-width: 576px) {
    form {
      padding: 48px 0; } }
  @media screen and (min-width: 992px) {
    form {
      padding: 77px 0; } }

.form__input {
  display: inline-block;
  text-align: left;
  border-radius: 10px;
  border: none; }
  .form__input:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }

.form__button {
  border-radius: 10px;
  background-color: #f7600e;
  border: none !important;
  color: #fff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .form__button:hover {
    color: #FA5C8B;
    background-color: #58FAF4; }
  .form__button:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
  @media screen and (min-width: 576px) {
    .form__button {
      margin-top: 30px; } }

@media screen and (min-width: 992px) {
  .form__buttonWrapper {
    padding-bottom: 30px; } }

span {
  color: #f7600e; }

.works__title {
  font-size: 35px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
  color: #3b434c;
  margin: 44px 0 29px; }
  @media screen and (min-width: 992px) {
    .works__title {
      margin: 99px 0 29px; } }

.works__subtitle {
  color: #3b434c;
  line-height: 30px;
  margin-bottom: 29px; }
  @media screen and (min-width: 992px) {
    .works__subtitle {
      margin-bottom: 99px; } }

.works__projectsWrapper {
  width: 337px;
  height: 337px;
  position: relative; }
  .works__projectsWrapper .works__project1 {
    width: 100%;
    height: 100%;
    background: url(../img/work1.jpg);
    background-size: cover; }
  .works__projectsWrapper .works__projectOverlay {
    border-radius: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(247, 96, 14, 0.9);
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .works__projectsWrapper .works__projectOverlay:hover {
      opacity: 1; }
    .works__projectsWrapper .works__projectOverlay .works__projectTitle {
      padding-top: 65px;
      color: #fff;
      font-size: 25px;
      font-weight: 400;
      line-height: 40px;
      text-transform: uppercase; }
    .works__projectsWrapper .works__projectOverlay .works__projectLink {
      background-color: #fff;
      padding: 15px 46px;
      border-radius: 10px;
      color: #f7600e;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .works__projectsWrapper .works__projectOverlay .works__projectLink:hover {
        background-color: #424850;
        color: #fff; }
    .works__projectsWrapper .works__projectOverlay .works__projectText {
      padding-bottom: 59px;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px; }

.works__projectLink2 {
  padding: 15px 46px;
  border-radius: 10px;
  border: 1px solid #ececed;
  color: #3b434c;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  margin-bottom: 101px; }
  .works__projectLink2:hover {
    background-color: #424850;
    color: #fff; }

.works__linkWrapper {
  margin: 44px 0 59px; }

.works__project1 {
  background-image: url(../img/work1.jpg);
  width: 100%;
  height: 100%;
  background-size: cover; }

.works__project2 {
  background-image: url(../img/work2.jpg);
  width: 100%;
  height: 100%;
  background-size: cover; }

.works__project3 {
  background-image: url(../img/work3.jpg);
  width: 100%;
  height: 100%;
  background-size: cover; }

.works__project4 {
  background-image: url(../img/work4.jpg);
  width: 100%;
  height: 100%;
  background-size: cover; }

.works__project5 {
  background-image: url(../img/work5.jpg);
  width: 100%;
  height: 100%;
  background-size: cover; }

.works__project6 {
  background-image: url(../img/work6.jpg);
  width: 100%;
  height: 100%;
  background-size: cover; }
